.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: .5rem;
  margin-bottom: 5px;
}

.address {
  margin-top: 10px;
  border: 1px solid black;
  padding: 15px;
  padding-top: 5px;
}

.address legend {
  font-size: 18px;
}


input {
  border-width: 1px;
  width: 100%;
  margin-bottom: 5px;
}

select {
  width: 100%;
}

input.valid {
  border-color: green;
}

input.novalid {
  border-color: rgb(201, 0, 0);
}

.save-btn {
  margin-top: 15px;
  width: 100%;
}